In [1]:
# Define the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Calling the "say_something" function
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python

In [7]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

# Import pandas
import pandas as pd

# Convert the my_grades to a series
my_grades_series = pd.Series(my_grades)
my_grades_series

0    B
1    C
2    B
3    D
dtype: object

In [8]:
# Change the grades by one letter grade
my_grades_series.map({'B': 'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [9]:
# Using the format() function.
my_grades = [93.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

93
85
87
98

In [10]:
# Convert the numerical grades to a series
my_grades_series = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades_series

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [13]:
# Format the grades to the nearest whole number percent
my_grades_series.map('{:.0f}'.format)

0    92
1    85
2    87
3    78
dtype: object